/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

:root {
  --background-color: #FAFAFA;
  --text-color: #36393B;
  --accent1: #87CBD4;
  --accent2: #B7E1CD;

  /* pulled these from skeleton in case we need
  --primary: #396dff;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  */

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;

  --text-family: 'Source Sans Pro', sans-serif; 
  --text-style: normal;
  --text-weight: normal;
  /* --text-color: #C4C4C4; */
  
}

.xl-text {
  font-family: var(--text-family);
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  font-size: 36px;
  line-height: 45px;
  color: var(--text-color);
}

.l-text {
  font-family: var(--text-family);
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
}

.m-text {
  font-family: var(--text-family);
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color);
}

.s-text {
  font-family: var(--text-family);
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text-family);
  font-weight: 500;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-centertext {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-vertical-center{
  margin:auto;
}
