.Friends-page {
    display: flex;
    flex-direction: row;
}

.Friends-leftSide {
    flex: 1.6;
    margin-left: 10%;
    margin-right: 10%;
}

.Friends-rightSide {
    flex: 0.4;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #433f47;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-height: 80vh;
}

.Friend-button {
    height: 30px;
    width: fit-content;
    border-radius: 10px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',
    sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #292929;
    animation: bouncy 5s infinite linear;
    position: relative;
}

.Friend-button:hover {
    background-color: rgb(231, 231, 231);
}

.Friends-emphasized-text {
    opacity: 95%;
}

.Friends-text {
    opacity: 80%;
}

.Friends-forms {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    position: absolute;
    width: 400px;
    margin-left: 25%;
    margin-top: 20px;
}

.Friends-results {
    margin-top: 60px;
}
