.Friends-page {
    display: flex;
    flex-direction: row;
}

.Friends-leftSide {
    flex: 1.7;
}

.Friends-rightSide {
    flex: 0.3;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background: #433f47;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.Friend-button {
    background: white;
    font-family: var(--text-family);
    font-style: var(--text-style);
    font-weight: var(--text-weight);
    font-size: 14px;
    line-height: 18px;
    color: var(--text-color);
  }