@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.Login-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 90vh;
    align-items: center;
    position: relative;
}

.Home-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 240px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    /* background-color: #292929; */
    animation: bouncy 5s infinite linear;
    position: relative;
    /* background: #1DB954; */
    background: green;
}

.Home-button:hover {
    /* background-color: rgb(212, 212, 212); */
    color: black;
    background-color: #FFFFFF;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.Home-section1 {
    display: flex;
    flex-direction: column;
    flex: 1.0;
}

.Home-section2 {
    display: flex;
    flex-direction: column;
    flex: 1.0;
}

.Home-image {
    height: 500px;
    position: relative;
    z-index: 0;
}

.Home-title {
    text-align: center;
    font-size: 76px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Kaushan Script', cursive;
    opacity: 95%;
}

.Home-spotify-label {
    color: green;
    font-size: 58px;
}

.Home-pitch {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-align: left;
    opacity: 100%;
}

.Home-text {
    display: block;
    text-align: center;
    opacity: 100%;
    color: white;

}