@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.Login-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 90vh;
    align-items: center;
}

.Home-button {
    height: 40px;
    border: 0px;
    width: 240px;
    border-radius: 10px;
    transition: 0.25s;
    background-color: #1DB954;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Home-button:hover {
    background-color: rgb(212, 212, 212);
}

.Home-section1 {
    display: flex;
    flex-direction: column;
    flex: 1.0;
}

.Home-section2 {
    display: flex;
    flex-direction: column;
    flex: 1.0;
}

.Home-image {
    height: 500px;
}

.Home-title {
    text-align: center;
    font-size: 76px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Kaushan Script', cursive;
}

.Home-spotify-label {
    color: green;
    font-size: 58px;
}

.Home-pitch {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.Home-text {
    display: block;
    text-align: center;
}