.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login-button {
    height: 30px;
    border: 0px;
    width: 90px;
    border-radius: 10px;
    margin: 2px;
    transition: 0.25s;
}

.Login-button:hover {
    background-color: rgb(212, 212, 212);
}