

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Stats-left {
    text-align: left;
}

.Stats-right {
    text-align: right;
}

.Stats-center-flex{
    margin-left: auto;
    margin-right: auto;
}

.Stats-centering-tracks{
    /* width: 100vw; */
    display: flex;
    justify-content: center;
}

.Stats-center-text{
    text-align: center;
}

.Stats-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.Stats-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #292929;
    animation: bouncy 5s infinite linear;
    position: relative;
}

.Stats-button1 {
    animation-delay:0.07s;
}

.Stats-button2 {
    animation-delay: 0.14s;
}

.Stats-button3 {
    animation-delay: 0.21s;
}

.Stats-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/* .bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
} */

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.Stats-button-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.Stats-title {
    text-align: center;
    opacity: 95%;
}

.Stats-page {
    /* align-items: center; */
    display: flex;
    flex-direction: row;
}

.Stats-img {
    border-radius: 50%;
    max-width: 80%;
    height:auto;
}

.Stats-sidebar {
    text-align: center;
    flex: 0.7;
    margin-left: 30px;
}

.Stats-content {
    flex: 2;
}

.Stats-spacing {
    height: 10vh;
}
