.Card-shape {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding: 10px 10px 10px 10px;
}

.Card-color {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
  