.Form-input {
    border: 0;
    border-bottom: 1px solid #555;
    background: transparent;
    width: 20%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.Form-input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid green;
}

.Form-submit {
    height: 30px;
    width: 60px;
    border-radius: 10px;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',
    sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: #292929;
    animation: bouncy 5s infinite linear;
    position: relative;
}

.Form-submit:hover {
    background-color: rgb(231, 231, 231);
}

.Form-div {
    display: flex;
    flex-direction: row;
}
