.NavBar-container {
    background-color: #36393B;
    margin-top: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 3px 3px #c0c0c0;
}

.NavBar-text-left {
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    text-decoration: none;
}

.NavBar-text-loggedout {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    margin-left: 450px;
    text-decoration: none;
}

.NavBar-button{
    margin-right: 10px;
}

.NavBar-left {
    flex: 1.5;
    margin-left: 10px;
}

.NavBar-right {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.NavBar-playback {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 3px 5px 3px;
    height: fit-content;
}
