@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.NavBar-container {
    background-color: #36393B;
    margin-top: 0px;
    height: 60px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 3px 3px #c0c0c0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.NavBar-text-left {
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    opacity: 80%;
    text-decoration: none;
}

.NavBar-text-loggedout {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    margin-left: 100%;
    text-decoration: none;
}

.NavBar-button{
    margin-right: 10px;
}

.NavBar-left {
    flex: 1.5;
    margin-left: 10px;
}

.NavBar-right {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.NavBar-playback {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 3px 5px 3px;
    height: fit-content;
    font-family: 'Barlow', sans-serif;
}

.NavBar-text {
    transition: color .2s ease;
    opacity: 100%;
}

.NavBar-text::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: green;
}

.NavBar-text::before {
    width: 0%;
    bottom: 10px;
}

.NavBar-home:hover::before {
    width: 44px;
}

.NavBar-stats:hover::before {
    width: 62px;
}

.NavBar-friends:hover::before {
    width: 80px;
}

.NavBar-text {
    transition: color .2s ease;
    opacity: 80%;
}

.NavBar-text:hover {
    opacity: 100%;
}
