.TopArtists-image {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
}

.TopArtists-div {
    text-align: center;
    padding-left: 0px;
} 

.TopArtists-text {
    margin: 0 0 0 0;
    opacity: 80%;
    color: #fff;
}

.TopArtists-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}