.TopTracks-image {
    width: 100px;
    margin-left: 0;
    margin-right: 0;
}

.TopTracks-div {
    text-align: center;
    padding-left: 0px;
}

.TopTracks-common {
    text-align: center;
    padding-left: 0px;
}

.TopTracks-text {
    margin: 0 0 0 0;
    opacity: 80%;
    color: #fff;
}

.TopTracks-text-small {
    margin: 0 0 0 0;
    opacity: 80%;
    color: #fff;
    font-size: 14px;
}

.TopTracks-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    /* grid-gap: 1rem; */
    /* grid-auto-rows: minmax(50px, auto); */
}

.TopTracks-small-text {
    opacity: 80%;
    font-size: 14px;
    margin: 0 0 0 0;
}